<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>注册</title>
		<link rel="stylesheet" href="/static/css/login.css" />
	</head>

	<body>
		<div class="body">
			<p class="logo">文章发布系统</p>
			<div class="body_count">
				<div class="login_count">
					<div class="login_count_a">
						<div class="login_count_a_l">
						</div>
						<div id="all">
							<ul id="option">
								<li class="active login_left">用户注册</li>
							</ul>
							<ul id="card">
								<li class="active">
									<!--输入框-->
									<div class="login_bot_count">
										<img src="/static/img/tubiao-07.png" alt="" />
										<input type="" name="username" id="username" placeholder="请输入账号"id="one" />
									</div>
									<div class="login_bot_count">
										<img src="/static/img/tubiao-06.png" alt="" />
										<input type="" name="password" id="password" placeholder="请输入密码"id="one"  />
									</div>
                                    <div class="login_bot_count">
                                        <img src="/static/img/tubiao-06.png" alt="" />
                                        <input type="" name="repeatpass" id="repeatpass" placeholder="重复密码"id="one"  />
                                    </div>
									<!--登录按钮-->
									<button class="login_button" id="regist">注册</button>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
		<script src="/static/js/jquery-3.4.1.js"></script>
		<script type="text/javascript" src="/static/js/regist.js" ></script>
	</body>

</html>